./build
./build/madame.bmp
./.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/main
build/main
examples/sprite/build/sprite
examples/sprite/build/dither.bmp
examples/animated_sprites/idle.png
examples/animated_sprites/main.cpp
examples/animated_sprites/build/walk.png
examples/animated_sprites/build/from idle.png
examples/animated_sprites/walk.png
examples/animated_sprites/from idle.png
examples/animated_sprites/build/
examples/animated_sprites/build/sprite
examples/animated_sprites/build/animated_sprite
examples/animated_sprites/build/idle.png
examples/animated_sprite/from idle.png
examples/animated_sprite/idle.png
examples/animated_sprite/walk.png
examples/animated_sprite/build/dos/animated_sprite.exe
examples/animated_sprite/build/dos/animated_sprite.o
examples/animated_sprite/build/dos/CWSDPMI.EXE
examples/animated_sprite/build/dos/delta_t.o
examples/animated_sprite/build/dos/init.o
examples/animated_sprite/build/dos/input.o
examples/animated_sprite/build/dos/strings.o
examples/animated_sprite/build/dos/Graphics/animation_t.o
examples/animated_sprite/build/dos/Graphics/img_t.o
examples/animated_sprite/build/dos/Graphics/screen_t.o
examples/animated_sprite/build/dos/Graphics/sprite_t.o
examples/animated_sprite/build/dos/init/init_img.o
examples/animated_sprite/build/dos/init/init_renderer.o
examples/animated_sprite/build/dos/init/init_widow.o
