./build
./build/madame.bmp
./.vscode
.vscode/*

# Build artifacts
*.o
*.a
*.exe
*.EXE
*.swp
*.SWP
*.obj
*.dll
*.so
*.dylib

# IDE / OS garbage
.DS_Store
Thumbs.db

# Assets.
assets/from idle.png
assets/idle.png
assets/walk.png
